
<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-light border border-dashed rounded-5">
        <h3 class="text-body-emphasis">Tu privacidad es importante para nosotros</h3>
        <p class="col-lg-6 mx-auto mb-4">
            3c tratará tus datos personales para evaluar tu solicitud, implicando la consulta en sistemas externos de información crediticia o actividades para la prevención del fraude y control del riesgo, así como para los tratamientos sobre los que nos hayas proporcionado tu consentimiento. Si aceptas el servicio de Agregación de Información Bancaria 3c y las terceras entidades con las que 3c mantiene acuerdos comerciales (de aqui en adelante, los "afiliados") trataremos los datos que recibamos para el estudio de tu solicitud, así como para las finalidades de prevención fraude y cumplimiento de obligaciones legales asociadas a ese estudio.
        </p>
        <hr />
        <div class="col-lg-6 mx-auto mb-4 text-start">
            <formly-form [form]="gdprForm" [fields]="gdprFormFields" [model]="gdprModel" [options]="gdprModel"></formly-form>
        </div>
        <hr />
        <button type="button" (click)="gdprConfirmation()" [disabled]="gdprForm.invalid" class="btn btn-lg btn-primary rounded-pill px-5 mb-5">Acepto</button>
    </div>
</div>
