<nav class="navbar navbar-expand-lg bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand">3c</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item" *ngFor="let item of navItems">
                    <a role="button" class="nav-link" id="{{ item.id }}" [routerLink]="item.url"><i class="{{ item.ico }}"></i> {{ item.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>