<nav class="navbar navbar-expand-lg bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="../../../../../assets/vendor/imgs/3c_logo_bg-white.png" alt="3c" width="32" height="26"/>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item" *ngFor="let item of navItems">
                    <a role="button" class="nav-link" id="{{ item.id }}" [routerLink]="item.url"><i class="{{ item.ico }}"></i> {{ item.name }}</a>
                </li>
            </ul>
            <div class="text-end">
                @if (!isAuthed) {
                    <button type="button" class="btn btn-outline-light me-2" *ngIf="!isAuthed" (click)="signIn()">Conectarme</button>
                }
                @else {
                    <button type="button" class="btn btn-outline-light" (click)="logout()">Salir</button>
                }
            </div>
        </div>
    </div>
</nav>