<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand">3c</a>
        <div class="nav-item" ngbDropdown>
            <button type="button" tabindex="0" class="btn btn-outline-light" id="thridparty-dropdown" ngbDropdownToggle>Terceros</button>
            <div ngbDropdownMenu aria-labelledby="thridparty-dropdown" class="dropdown-menu dropdown-menu-end">
                <button ngbDropdownItem>Crear</button>
                <button ngbDropdownItem>Lista</button>
            </div>
        </div>
    </div>
</nav>