<div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title">Modificar los detalles de la operación</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <formly-form [form]="opDetailForm" [fields]="opDetailFields" [model]="opDetailModel" [options]="opDetailOptions"></formly-form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="submit" [disabled]="opDetailForm.invalid || isFormUntouched()" (click)="onSubmit()">Guardar</button>
</div>