
<div class="modal-header">
    <h4 class="modal-title" id="modal-title">
        <span class="bi bi-exclamation-triangle-fill"></span>
        {{ data.title }}
    </h4>
</div>
<div class="modal-body">
    <p>{{ data.message }}</p>
    <form [formGroup]="confirmationForm">
        <input type="text" class="form-control" placeholder="Escribe 'borrar' para confirmar" formControlName="confirmationInput">
    </form>
</div>
<div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cancel click')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="activeModal.close('Ok click')" [disabled]="!confirmationForm.valid">Aceptar</button>
</div>

