
<div class="modal-header border-bottom-0">
    <h1 class="modal-title fs-5">Nos conocemos?</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body py-0">
    <p>Si ya tienes una cuenta con nosotros conéctate. De lo contrario tendrás que registrarte para poder seguir adelante.</p>
</div>
<div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
    <button type="button" class="btn btn-lg btn-primary" (click)="gotToSignUp()">Registrarme</button>
    <button type="button" class="btn btn-lg btn-outline-primary" (click)="goToSignIn()">Conectarme</button>
</div>
