
<div class="container">
    <div class="shadow">
        <div class="rounded-top bg-primary bg-gradient p-4 d-flex justify-content-between"> 
            <h3 class="row mb-2" style="color: white;">{{ currOp.reference }}</h3>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
        <div class="row mb-2 p-4">
            <div class="col-lg-6 col-12">
                Importe de la inversión: {{ currOp.investment | currency:'EUR' }}
            </div>
            <div class="col-lg-6 col-12">
                Cuota: {{ currOp.rent | currency:'EUR' }}
            </div>
        </div>
    </div>
</div>
{{ currOp | json }}