<div class="container mt-4">
    <ngx-datatable 
    class="material" 
    [rows]="userList" 
    [headerHeight]="50" 
    [footerHeight]="50" 
    [rowHeight]="'auto'"
    [columnMode]="columnMode.force"
    >

    <ngx-datatable-column name="Partner" prop="partnerFiscalName"></ngx-datatable-column>
    <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
    <ngx-datatable-column name="Nombre" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="Apellidos" prop="surname"></ngx-datatable-column>
    <ngx-datatable-column name="Tipo" prop="type"></ngx-datatable-column>

    <ngx-datatable-column name="Estatus" prop="validationSetup">
        <ng-template ngx-datatable-cell-template let-value="value">
            <span *ngIf="value === false"><i class="bi-person-fill-exclamation" style="color: yellow; font-size: 1.4rem;"></i></span>
            <span *ngIf="value === true"><i class="bi-person-fill-check" style="color: green; font-size: 1.4rem;"></i></span>
        </ng-template>
    </ngx-datatable-column>
        <!-- Action buttons column -->
    <ngx-datatable-column name="Acciones" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
            <div class="d-inline-flex gap-2">
                <button class="btn btn-info btn-sm" (click)="viewDetails(row)"><span class="bi-gear-fill"></span></button>
                <button class="btn btn-danger btn-sm" (click)="deleteUser(row)"><span class="bi-trash-fill"></span></button>
            </div>
        </ng-template>
    </ngx-datatable-column>

    </ngx-datatable>
</div>